In [11]:
names = ['apple', 'yahoo', 'google', 'gmail', 'walmart', 'flipkart', 'facebook', 'amazon']
l={name: len(name)   for  name in names if len(name)%2==0}
print(l)

{'google': 6, 'flipkart': 8, 'facebook': 8, 'amazon': 6}

In [12]:
names = ['apple', 'yahoo', 'google', 'gmail', 'walmart', 'flipkart', 'facebook', 'amazon']
l={name: len(name)   for  name in names if len(name)%2==0}
print(l)

{'google': 6, 'flipkart': 8, 'facebook': 8, 'amazon': 6}

In [17]:
def square(l):
    return l**2
l=[1,2,3,4]
squares = map(square,l)
for item in squares:
    print(item)

1
4
9
16

In [25]:
## count the number of lines in a file without loading the entire into memory

with open('lines.txt.txt') as f:
    _count=0
    for line in f:
        _count+=1
        print(_count,line)

1 uuuvhkhug

2 fjfgjjfjfghd

3 fh

4 fhdf

5 hdf

6 hdf

7 hfd

8 h

9 df

In [26]:
with open('lines.txt.txt') as f:
    for index , line in enumerate(f,start=1):
        print(index,line)

1 uuuvhkhug

2 fjfgjjfjfghd

3 fh

4 fhdf

5 hdf

6 hdf

7 hfd

8 h

9 df

In [38]:
l=[[1,2,3],[4,5,6],[7,8,9]]
k=[]
sum=0
for i in l:
    for j in i:
        sum+=j
    k.append(sum)
    sum=0
print(k)

[6, 15, 24]

In [1]:
l=[[1,2,3],[4,5,6],[7,8,9]]
sum_list = [sum(item) for item in l]

In [50]:
## write a program to reverse the list
names = ['apple', 'yahoo', 'google', 'gmail', 'walmart', 'flipkart', 'facebook', 'amazon']
new=[]
for item in names:
    new.append(item[::-1])
new.reverse()
print(new)

['nozama', 'koobecaf', 'trakpilf', 'tramlaw', 'liamg', 'elgoog', 'oohay', 'elppa']

In [52]:
new=[ item[::-1] for item  in names[::-1]]
print(new)

['nozama', 'koobecaf', 'trakpilf', 'tramlaw', 'liamg', 'elgoog', 'oohay', 'elppa']

In [54]:
new=[ item[::-1] for item  in reversed(names)]
print(new)

['nozama', 'koobecaf', 'trakpilf', 'tramlaw', 'liamg', 'elgoog', 'oohay', 'elppa']

In [56]:
new=[ names[item][::-1] for item  in range(len(names)-1,-1,-1)]
print(new)

['nozama', 'koobecaf', 'trakpilf', 'tramlaw', 'liamg', 'elgoog', 'oohay', 'elppa']

In [64]:
d={'a':100,'b':{'m':'man','n':'nose'}}
d['b']['n']='net'
print(d)

{'a': 100, 'b': {'m': 'man', 'n': 'net'}}

In [5]:
with open('lines.txt.txt') as f:
    _count=0
    for line in f:
        for space in line:
            if(space==' '):
                _count+=1
print(_count)

10

In [4]:
with open('lines.txt.txt') as f:
    spaces=0
    for line in f:
        count=line.count(' ')
        spaces+=count
print(spaces)

10

In [102]:
from collections import defaultdict
words=['eat','ate','hello','silent','listen']
d=defaultdict(list)
for word in words:
    temp=''.join(sorted(word))
    d[temp].append(word)
print(d)

defaultdict(<class 'list'>, {'aet': ['eat', 'ate'], 'ehllo': ['hello'], 'eilnst': ['silent', 'listen']})

In [106]:
l=[i for i in range(2,51,2)]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [112]:
evens=filter(lambda item: item%2==0,list(range(0,51)))
print(evens)

<filter object at 0x000002038DAADD48>

In [143]:
# write a program to print the longest word which is not repeated
sentence="This is a programming language and programming is fun"
words=sentence.split()
d={ word : len(word) for word in words if words.count(word)==1 }
print(max(d))
sorted_words= sorted(d.items(),key=lambda item: item[-1])
print(sorted_words[-1])

language
('language', 8)

In [149]:
names = ['apple', 'yahoo', 'google','apple', 'gmail', 'walmart','gmail', 'flipkart', 'facebook', 'amazon']
unique=set(names)
print(unique)
for item in unique:
    _count=0
    for name in names:
        if item==name:
            _count+=1
    if(_count>1):
        print(_count,item)

{'yahoo', 'gmail', 'facebook', 'walmart', 'amazon', 'google', 'apple', 'flipkart'}
2 gmail
2 apple

In [161]:
def is_prime(n):
    countp=0
    for i in range(2,n):
        if(n%i==0):
            countp+=1
    if(countp>1):
        print("Non prime")
    else:
        print("prime")
is_prime(13)

prime

In [163]:
def is_prime(n):
    countp=0
    for i in range(2,n):
        if(n%i!=0):
            continue
        else:
            return False
    return True
print(is_prime(10))

False

In [165]:
any([True,True,False,True,False])## If any 1 value is true it evaluats to true

True

In [168]:
any([False,False,False,False])

False

In [169]:
any([False,0,'Bhumika',{},[]])

True

In [171]:
all([True,True,True])           ## if all the value evaluates to true only then it evaluates to true

True

In [173]:
all([False,True])

False

In [9]:
def is_prime(n):
    l=[n%i for i in range(2,n)]
any([is_prime(10)])

False

In [182]:
numbers=[10,90,20,30,40,70]
temp=0
for i in numbers:
    continue
print(i)

70

In [185]:
## program to print last integer
def last_d(i):
    return str(i)[-1]
print(last_d(31469))

9

In [186]:
def last_d(i):
    n=i%10
    return n
print(last_d(31469))

9

In [14]:
from collections import Counter
words=['look','into','into','into','my','eyes','look','look']
c=Counter(words)
c.most_common(1)
c.most_common(3)

[('look', 3), ('into', 3), ('my', 1)]

In [203]:
def tail(iterable,n):
    return  iterable[-n:]
tail([1,2,3,4,5],3)

[3, 4, 5]

In [204]:
def tail(iterable,n):
    return  iterable[len(iterable)-n:]
tail([1,2,3,4,5],3)

[3, 4, 5]

In [205]:
def tail(iterable,n):
    from collections import deque
    d=deque(iterable,maxlen=n)
    return list(d)
tail([1,2,3,4,5],3)

[3, 4, 5]

In [214]:
from math import sqrt
def is_perfect_square(n):
    return n==sqrt(n)**2
print(is_perfect_square(4))

True